.Dashboard__container{
  
  
  .Dashboard__content-container{
    

    .Dashboard__header{
      font-weight: 900;
    }
  }
  
  
}

.Loader__container{
  display: flex;
  width: 100;
  min-height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;

  .Loader__{
    height: 4.5;
    width: 4.5;

  }
}


