body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 233, 233);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Dashboard-component {
  display: flex;
  flex-direction: column;
  margin: 52px 52px;
}

@media screen and (max-width: 900px) {
  .Dashboard-component {
    margin: 10px 10px;
  }
}
