$primaryColor: #E55381;
$accentColor: #F2EFEA;
$secondaryColor: #190B28; 
$successColor: #68D89B;
$lightColor: #CCD6EB;
$dangerColor: #8C1C13;
$warningColor: #E9B44C;

// Colors 
$textColorDark: #515864;
$backgroundColorLight: #FFFFFF;
$buttonColor: #1565D8; 
$textColorLight: #696F79;

// Numbers
$bigTextSize: 34px;
$smallTextSize: 14px;
$linkTextSize: 16px;
