@import '../../scss/variables.scss';

.Navbar_container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 1.2rem 1rem;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  // border-bottom: black solid 1px;
  background-color: #163185;
  color: #eee !important;

  .Navbar__rightside {
    display: flex;
    flex-direction: row;

    .Navbar__user-account {
      display: flex;
      align-items: center;

      .Navbar__avatar {
        margin-right: 5px;
      }
    }
  }

  .Navbar__menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .Navbar_container {
    justify-content: space-between;
    .Navbar__menu {
      display: inline;
    }
    .Navbar__rightside {
      font-size: 10px;
    }
  }
}
